ktor {
    deployment {
        environment = development
        port = 8080
    }

    application {
        modules = [jp.cordea.ipbot.ServerKt.main]
    }
}

twitter {
    token = ${TWITTER_TOKEN}
    rules = []
}
